server {
    listen      80;
    server_name ${HOST} www.${HOST};
    access_log  /var/log/project.access.log  main;

    location ~ ^(/api) {
        proxy_pass  http://backend:${PORT_BACKEND};
    }

    location / {
        proxy_pass  http://frontend:${PORT_FRONTEND};
    }
}
